@import url('./fonts.scss');

html {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeSpeed;
  background-color: $background;
  color: $onBackground;
  @include phone {
    background-color: $background;
  }
  overflow-y: scroll;
  font-family: IBMPlexMono, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
#__nuxt,
#__layout {
  width: 100%;
  height: auto;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

@include phone() {
  button,
  div,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  text-decoration: none;
}

p {
  margin: 0;
}

/* Float Vue Style */
.v-popper--theme-menu .v-popper-wrapper {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 2px; /* !importanté */
    background: linear-gradient(to right, red, orange);
  }
}
.v-popper--theme-menu .v-popper__inner {
  background: linear-gradient(to right, #888, #ff7800) !important;
  color: black;
  padding: 2px;
  position: relative;
  border-radius: 8px !important;
  border: none !important;
  .dropdown-menu {
    background: #000;
    padding: 10px 20px;
    border-radius: 6px !important;
  }
  // border-image-slice: 1;
  .link-item {
    color: #fff;
    opacity: 1;
    font-family: 'IBMPlexMono-Bold';
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: right;
    text-transform: uppercase;
    @include flexRc;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    margin: 10px 0;
    @include phone {
      font-size: 12px;
      margin: 0 4px;
    }
  }
}
.v-popper--theme-menu.v-popper__popper--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.v-popper--theme-menu.v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.v-popper--theme-menu .v-popper__arrow-inner {
  visibility: hidden !important;
  border-color: #fff;
}

.v-popper--theme-menu .v-popper__arrow-outer {
  visibility: hidden !important;
  border-color: #ddd;
}
