@font-face {
  font-family: 'IBMPlexMono-Bold';
  src: url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono';
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
}
